@using ProjectManagement.App.ViewModel
@using Syncfusion.EJ2.Navigations
@model TaskViewModel;
@{
    Layout = "_WorkspaceLayout";

    var overviewContent = "#overview-section";
    var commitContent = "#commit-section";
}
<style>


    .container{
        max-width: 100% !important;
    }

    .task-detail-page {
        padding: 20px;
    }

    .task-header {
        margin-bottom: 20px;
    }

    .card-header{
        background-color: white !important;
    }

    .task-header h2 {
        margin: 0;
        font-size: 27px;
    }

    .section-page {
        margin-top : 15px;
    }

    .badge {
        --bs-badge-color: #000000;
        font-size: 13px;
        padding: 4px;
    }
    
    .card {
        background-color: #fff;
        box-shadow: 0 4px 20px rgba(0,0,0,0.08);
    }


    .comments-section ul {
        list-style: none;
        padding: 0;
    }

    .comments-section li {
        border-bottom: 1px solid #eee;
        padding: 8px 0;
    }
</style>


<div class="task-detail-page">
    <!-- Header -->
    <div class="mb-3">
        <div>
            <h4 class="mb-0">Task #@Model.TaskId - @Model.Title</h4>
            <small class="text-muted">Status: <span class="badge bg-info">@Model.Status</span></small>
        </div>
        @* <span class="due-date text-muted">Due: @Model.DueDate.ToString("dd MMM yyyy")</span> *@
    </div>
    <hr />
    <!-- Body -->
    <div class="task-body">
        <ejs-tab id="taskTabs" cssClass="e-fill">
            <e-tab-tabitems>
                <!-- Overview -->
                <e-tab-tabitem header=@(new() {Text = "Overview"}) content="@overviewContent"></e-tab-tabitem>
                <e-tab-tabitem header=@(new() { Text = "Commit" }) content="@commitContent"></e-tab-tabitem>
            </e-tab-tabitems>
        </ejs-tab>
    </div>
</div>



<!-- Overview Section -->
<div id="overview-section" class="section-page ms-2" style="display: none">
    <div class="card shadow-sm mb-3">
        <div class="card-header bg-light">
            <h5 class="mb-0">Overview</h5>
        </div>
        <div class="card-body">
            <p><b>Description:</b> @Model.Description</p>
            <p><b>Assignee:</b> "Test"</p>
            <p><b>Priority:</b> "Test"</p>
        </div>
    </div>
</div>

<!-- Commit Section -->
<div id="commit-section" class="section-page ms-2" style="display: none">
    <div class="card shadow-sm mb-3">
        <div class="card-header bg-light">
            <h5 class="mb-0">Commit</h5>
        </div>
        <div class="card-body">
            <p><b>Commit:</b> "Test"</p>
            <p><b>Assignee:</b> "Test"</p>
            <p><b>Priority:</b> "Test"</p>
        </div>
    </div>
</div>



