@using ProjectManagement.App.ViewModel
@using Syncfusion.EJ2.Navigations
@model TaskViewModel;
@{
    Layout = "_WorkspaceLayout";

    var overviewContent = "#overview-section";
    var commitContent = "#commit-section";
}
<style>


    .container{
        max-width: 100% !important;
    }

    .task-detail-page {
        padding: 20px;
    }

    .task-header {
        margin-bottom: 20px;
    }

    .card-header{
        background-color: white !important;
    }

    .task-header h2 {
        margin: 0;
        font-size: 27px;
    }

    .section-page {
        margin-top : 15px;
    }

    .badge {
        --bs-badge-color: #000000;
        font-size: 13px;
        padding: 4px;
    }
    
    .card {
        background-color: #fff;
        box-shadow: 0 4px 20px rgba(0,0,0,0.08);
    }


    .comments-section ul {
        list-style: none;
        padding: 0;
    }

    .comments-section li {
        border-bottom: 1px solid #eee;
        padding: 8px 0;
    }
</style>

<div class="container my-4">
    <div class="card  rounded-3 border-0">
        <!-- Header -->
        <div class="card-header d-flex justify-content-between align-items-center">
            <div>
                <h4 class="mb-0">Task #@Model.TaskId - @Model.Title</h4>
                <small class="text-muted">Status: <span class="badge bg-info">@Model.Status</span></small>
            </div>
            @* <span class="due-date text-muted">Due: @Model.DueDate.ToString("dd MMM yyyy")</span> *@
        </div>

        <!-- Body -->
        <div class="mt-2">
            <ejs-splitter id="taskTabs" orientation="Vertical" r style="border: 0px">
                <e-splitter-panes >
                    <!-- Overview -->
                    <e-splitter-pane content="@overviewContent" resizable="false"></e-splitter-pane>
                    <e-splitter-pane content="@commitContent" resizable="false"></e-splitter-pane>
                </e-splitter-panes>
            </ejs-splitter>

        </div>
    </div>
</div>


<div id="overview-section" class="section-page ms-2" style="display: none">

    <h4>Overview</h4>

    <p><b>Description:</b> @Model.Description</p>
    <p><b>Assignee:</b> "Test"</p>
    <p><b>Priority:</b> "Test"</p>
</div>

<div id="commit-section" class="section-page ms-2" style="display: none">

    <h4>Commit</h4>
    <p><b>Commit:</b> "Test"</p>
    <p><b>Assignee:</b> "Test"</p>
    <p><b>Priority:</b> "Test"</p>
</div>



