@using ProjectManagement.App.DTO.Project
@using ProjectManagement.App.ViewModel.Home
@using Syncfusion.EJ2.Grids
@{
    ViewData["Title"] = "Home Page";

    int idProgress = 1;   

}

@model DashboardViewModel

<style>

    .e-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 12px;
        padding: 20px;
        margin-bottom: 20px;
        color: #222;
    }

    .create-project-dsb{
        height: 40px;
        border-radius: 10px;
        font-size: 15px;
    }

    .e-card.e-card-horizontal .e-card-stacked{
        flex: 5;
    }

    .icon-circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        color: white;
    }

    /* Tema Warna */
    .card-projects {
        background-color: #eaf2ff;
    }

    .card-recent-project {
        background-color: #f9f9f9;
    }

    .card-activity-project {
        padding: 10px;
        box-shadow: 0 0px;
        line-height: normal;
        border-radius: 0px;
        transition: background-color 0.3s ease, transform 0.2s ease;
        cursor: pointer; /* default untuk semua */
    }

    .card-activity-project:hover {
        background-color: #e1dcdc;
        cursor: pointer; /* telunjuk */
        box-shadow: 0 0px;
    }


    .card-projects .icon-circle {
        background-color: #3b82f6;
    }

    .card-tasks {
        background-color: #fff4e6;
    }

    .card-tasks .icon-circle {
        background-color: #f97316;
    }

    .card-team {
        background-color: #e6fff4;
    }

    .card-team .icon-circle {
        background-color: #10b981;
    }

    .card-overdue {
        background-color: #ffe6e6;
    }

    .card-overdue .icon-circle {
        background-color: #ef4444;
    }

    .recent-project-page {
        border-radius: 12px; /* sudut rounded */
        border-color: black;
        padding: 20px; /* ruang dalam */
        box-shadow: 0 4px 12px rgba(0,0,0,0.1); /* efek bayangan kertas */
    }

    .activity-tab {
        border-radius: 12px; /* sudut rounded */
        border-color: black;
        padding: 20px; /* ruang dalam */
        box-shadow: 0 4px 12px rgba(0,0,0,0.1); /* efek bayangan kertas */
    }

        /* Biar judul lebih menonjol */
        .recent-project-page .recent-header-title {
        font-size: 1.25rem;
        font-weight: 600;
    }

    /* Badge lebih kontras di dark mode */
    .recent-project-page .badge {
        font-size: 0.75rem;
        padding: 0.4em 0.6em;
        border-radius: 8px;
    }

    .icon-container{
        flex: 0 !important;
        color: black;
    }

    .icon-list {
        width: 29px;
        height: 54px;
        border-radius: 50%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        font-size: 17px;
        color: black;
    }

</style>

@Html.AntiForgeryToken()

<div class="d-flex justify-content-between align-items-center mb-3">
    <div>
        <h2 class="mb-0">Dashboard</h2>
        <p>Hello</p>
    </div>
    <ejs-button id="btnNewProject" cssClass="create-project-dsb" content="New Project" isPrimary="true" iconCss="e-icons e-plus" onclick="createProject()"></ejs-button>
</div>



<div class="e-card-resize-container">
    <div>
        <div class="row card-layout">
            <div class="col-md-3">
                <div id="vertical_Sample">
                    <!-- Horizontal Card Layout for Philips Trimmer Product -->
                    <div tabindex="0" class="e-card e-card-horizontal card-projects">
                        <div class='e-card-stacked'>
                            <div class="e-card-header-title">Total Projects</div>
                            <h3>@Model.TotalProjects</h3>
                            <div class="e-card-sub-title"> 3 completed</div>
                        </div>
                        <div>
                            <div class="icon-circle">
                                <i class="fas fa-folder"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="vertical_Sample">
                    <!-- Horizontal Card Layout for Philips Trimmer Product -->
                    <div tabindex="0" class="e-card e-card-horizontal card-tasks">
                        <div class='e-card-stacked'>
                            <div class="e-card-header-title">Total Tasks</div>
                            <h3>@Model.TotalTasks</h3>
                            <div class="e-card-sub-title">@Model.TotalCompletedTasks completed</div>
                        </div>
                        <div>
                            <div class="icon-circle">
                                <i class="fas fa-check-square"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="vertical_Sample">
                    <!-- Horizontal Card Layout for Philips Trimmer Product -->
                    <div tabindex="0" class="e-card e-card-horizontal card-team">
                        <div class='e-card-stacked'>
                            <div class="e-card-header-title">Team Members</div>
                            <h3>4</h3>
                            <div class="e-card-sub-title">Active contributors</div>
                        </div>
                        <div>
                            <div class="icon-circle">
                                <i class="fas fa-users"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="vertical_Sample">
                    <!-- Horizontal Card Layout for Philips Trimmer Product -->
                    <div tabindex="0" class="e-card e-card-horizontal card-overdue">
                        <div class='e-card-stacked'>
                            <div class="e-card-header-title">Overdue Tasks</div>
                            <h3>6</h3>
                            <div class="e-card-sub-title">Need attention</div>
                        </div>
                        <div>
                            <div class="icon-circle">
                                <i class="fas fa-exclamation-triangle"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-xs-12 col-md-12 col-lg-8 mb-4">
        <div tabindex="0" class="recent-project-page" id="card_recent_projects">
            <div class="recent-header mb-3">
                <div class="e-card-header-caption d-flex justify-content-between">
                    <div class="recent-header-title">Recent Projects</div>
                    <a href="#">View All</a>
                </div>
            </div>
            <div class="recent-content row card-layout">
                @foreach (var item in Model.RecentProjects)
                {
                    
                    var nameProgress = $"progress{idProgress}";
                    
                    <div tabindex="0" class="e-card e-card-horizontal card-recent-project">
                        <div class='e-card-stacked'>
                            <div class="e-card-header-title"><h6>@item.Title <status-badge status="@item.Status"></status-badge></h6></div>
                            <small>
                                <i class="fas fa-clock me-1"></i> Due 3/15/2024 •
                                <i class="fas fa-users me-1"></i> 3 members •
                                <i class="fab fa-github me-1"></i> Connected
                            </small>
                            <ejs-progressbar id=@nameProgress type="Linear" value="75"></ejs-progressbar>
                        </div>
                    </div>

                    idProgress++;
                }

@*                 <div tabindex="0" class="e-card e-card-horizontal card-recent-project">
                    <div class='e-card-stacked'>
                        <div class="e-card-header-title"><h6>Marketing Website <span class="badge bg-success">Completed</span></h6></div>
                        <small>
                            <i class="fas fa-clock me-1"></i> Due 3/15/2024 •
                            <i class="fas fa-users me-1"></i> 3 members •
                            <i class="fab fa-github me-1"></i> Connected
                        </small>
                        <ejs-progressbar id="proj2" type="Linear" value="100"></ejs-progressbar>
                    </div>
                </div>
                <div tabindex="0" class="e-card e-card-horizontal card-recent-project">
                    <div class='e-card-stacked'>
                        <div class="e-card-header-title"><h6>API Integration <span class="badge bg-info">In Progress</span></h6></div>
                        <small>
                            <i class="fas fa-clock me-1"></i> Due 3/15/2024 •
                            <i class="fas fa-users me-1"></i> 3 members •
                            <i class="fab fa-github me-1"></i> Connected
                        </small>
                        <ejs-progressbar id="proj3" type="Linear" value="40"></ejs-progressbar>
                    </div>
                </div> *@
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-4">
        <div tabindex="0" class="activity-tab mb-3" id="card_activity">
            <div class="activity-header mb-3">
                <div class="e-card-header-caption">
                    <div class="activity-header"><h5>Recent Activity</h5></div>
                </div>
            </div>
            <div class="activity-content row card-layout">

                <div tabindex="0" class="e-card e-card-horizontal card-activity-project">
                    <div class="icon-container">
                        <div class="icon-list">
                            <i class="fas fa-check-square"></i>
                        </div>
                    </div>
                    <div class='e-card-stacked'>
                        <div class="e-card-header-title"><h6>Implement product catalog</h6></div>
                        <small>John Doe • In Progress</small>
                        <small>7 commits</small>
                    </div>
                </div>

                <div tabindex="0" class="e-card e-card-horizontal card-activity-project">
                    <div class="icon-container">
                        <div class="icon-list">
                            <i class="fas fa-check-square"></i>
                        </div>
                    </div>
                    <div class='e-card-stacked'>
                        <div class="e-card-header-title"><h6>Implement product catalog</h6></div>
                        <small>John Doe • In Progress</small>
                        <small>7 commits</small>
                    </div>
                </div>

                <div tabindex="0" class="e-card e-card-horizontal card-activity-project">
                    <div class="icon-container">
                        <div class="icon-list">
                            <i class="fas fa-check-square"></i>
                        </div>
                    </div>
                    <div class='e-card-stacked'>
                        <div class="e-card-header-title"><h6>Implement product catalog</h6></div>
                        <small>John Doe • In Progress</small>
                        <small>7 commits</small>
                    </div>
                </div>
            </div>
        </div>
@* 
        <div tabindex="0" class="e-card" id="card_quick_actions">
            <div class="e-card-header">
                <div class="e-card-header-caption">
                    <div class="e-card-header-title">Quick Actions</div>
                </div>
            </div>
            <div class="e-card-content">
                <ejs-button content="Create New Task" iconCss="e-icons e-plus" cssClass="e-primary w-100 mb-2"></ejs-button>
                <ejs-button content="Add Project" iconCss="e-icons e-plus" cssClass="w-100 mb-2"></ejs-button>
                <ejs-button content="Invite Members" iconCss="e-icons e-people" cssClass="w-100"></ejs-button>
            </div>
        </div> *@
    </div>
</div>


<ejs-dialog id="createProjectDialog" header="Create new Project"
            width="500px" visible="false" showCloseIcon="true" isModal="true"
            target="#dialogTarget">
    <e-content-template>
        <partial name="_CreateProjectDialog" model="new CreateProjectDto()"></partial>
    </e-content-template>
</ejs-dialog>


<ejs-toast id="toast_default"></ejs-toast>





<script>
    let flag = false;
    function actionComplete(e) {
        if (e.requestType === 'save' || e.requestType === 'delete') {
            flag = false;
        }
    }

    function actionBegin(e) {
        var grid = document.getElementById("ExistingProjectGrid").ej2_instances[0];

        if(!flag)
        {
            if (e.requestType === 'delete') {
            e.cancel = true; // Cancel default delete behavior

            const ids = e.data.map(row => row[grid.getPrimaryKeyFieldNames()[0]]);

            const ajax = new ej.base.Ajax({
                url: '@Url.Action("DeleteProject", "Home")',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function (xhr) {
                    ajax.httpRequest.setRequestHeader("XSRF-TOKEN", document.querySelector('input[name="__RequestVerificationToken"]').value);
                },
                data: JSON.stringify(ids)
            });

            ajax.onSuccess = function (data, status, xhr) {
                let response = {};
                try {
                    response = typeof data === "string" ? JSON.parse(data) : data;
                } catch (err) {
                    console.error("Parsing JSON gagal:", err);
                }

                if (response.success === false) {
                    // Gagal validasi atau gagal delete
                    flag = false;
                    ejs.notifications.ToastUtility.show(response.message || "Gagal memproses permintaan.", 'Error', 3000);
                } else {
                    // Sukses
                    flag = true;
                    ejs.notifications.ToastUtility.show('Data berhasil dihapus.', 'Success', 3000);
                    grid.dataSource = response.data;
                }
            };

            ajax.onFailure = function (xhr) {
                let message = "Terjadi kesalahan saat menyimpan.";
                flag = false
                try {
                    const errorResponse = JSON.parse(xhr.responseText);
                    if (errorResponse.message) {
                        message = errorResponse.message;
                    }
                } catch (err) {
                    console.warn("Gagal membaca pesan error:", err);
                }

                ejs.notifications.ToastUtility.show(message, 'Error', 3000);
            };


            ajax.send();
        }
        else if(e.requestType == 'save' && (e.action == 'edit')) {
            var editedData = e.data;
            e.cancel = true;

            const ajax = new ej.base.Ajax({
                url: '@Url.Action("UpdateProject", "Home")',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function (xhr) {
                    ajax.httpRequest.setRequestHeader("XSRF-TOKEN", document.querySelector('input[name="__RequestVerificationToken"]').value);
                },
                data: JSON.stringify({ value: editedData })
            });

            ajax.onSuccess = function (data, status, xhr) {
                let response = {};
                try {
                    response = typeof data === "string" ? JSON.parse(data) : data;
                } catch (err) {
                    console.error("Parsing JSON gagal:", err);
                }

                if (response.success === false) {
                    // Gagal validasi atau gagal delete
                    flag = false;
                    ejs.notifications.ToastUtility.show(response.message || "Gagal memproses permintaan.", 'Error', 3000);
                } else {
                    // Sukses
                    flag = true;
                    ejs.notifications.ToastUtility.show('Data berhasil diupdate', 'Success', 3000);

                    grid.endEdit();


                }
            };

            ajax.onFailure = function (xhr) {
                let message = "Terjadi kesalahan saat menyimpan.";
                flag = false;
                try {
                    const errorResponse = JSON.parse(xhr.responseText);
                    if (errorResponse.message) {
                        message = errorResponse.message;
                    }
                } catch (err) {
                    console.warn("Gagal membaca pesan error:", err);
                }

                ejs.notifications.ToastUtility.show(message, 'Error', 3000);
            };

            ajax.send();
        }
        }
        
    }

    function connectGithub(){
        window.location.href = '@Url.Action("Connect","GithubAuth")';
    }

    function createProject() {
        var dialog = document.getElementById("createProjectDialog").ej2_instances[0];
        dialog.show();
    }


    function onCommandClick(args) {
        const row = args.rowData;
        const projectId = row.Id;
        const projectName = row.Name;

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GoToWorkspace", "Workspace")',
            data: { projectId: projectId, projectName: projectName },
            success: function (response) {
                if (response.success && response.url) {
                    window.location.href = response.url;
                } else {
                    ejs.notifications.ToastUtility.show('Failed to open workspace.', 'Error', 3000);
                }
            },
            error: function () {
                ejs.notifications.ToastUtility.show('Error contacting server.', 'Error', 3000);
            }
        });
    }

     
     

    
</script>
