@using ProjectManagement.App.DTO.Project
@using ProjectManagement.App.ViewModel.Home
@using Syncfusion.EJ2.Grids
@{
    ViewData["Title"] = "Home Page";

   

}

@model IEnumerable<ProjectViewModel>

<style>
.e-grid .e-rowcell.align-left {
    text-align: left !important;
}
</style>

@Html.AntiForgeryToken()

<div class="text-center mt-5">

    @if (!string.IsNullOrWhiteSpace(ViewBag.Github as string))
    {
        <p>You are connected to github</p>
    }

    @if (ViewBag.IsProjectEmpty)
    {
        <h1 class="display-4">Welcome</h1>
        <div>
            <p>Project is Empty</p>
        </div>

        <ejs-button id="createButton" class="mt-3" isPrimary="true" content="Create a Project" onclick="createProject()"></ejs-button>
    }
    else if (!ViewBag.IsUserLogin)
    {
        <div>
            <p>Not login yet</p>
        </div>
    }
    else
    {
        <ejs-grid id="ExistingProjectGrid"
                  dataSource="@Model"
                  allowPaging="true"
                  gridLines="Both"
                  enableHover="true"
                  allowTextWrap="true"
                  allowSelection="true"
                  actionBegin="actionBegin"
                  actionComplete="actionComplete"
                  toolbar="@(new List<string>(){"Delete","Edit","Update","Cancel"})"
                  commandClick="onCommandClick"
                  height="400">
            <e-grid-editSettings allowDeleting="true" allowEditing="true" mode="Normal"></e-grid-editSettings>
            <e-grid-selectionsettings persistSelection="true" type="Multiple" checkboxOnly="true"></e-grid-selectionsettings>
            <e-grid-columns>
                <e-grid-column type="checkbox" width="50"></e-grid-column>
                <e-grid-column field="Id" isPrimaryKey="true" visible="false"></e-grid-column>
                <e-grid-column field="Title"
                               headerText="Project Name"
                               width="200"
                               textAlign="Left"
                               customAttributes="@(new { @class = "align-left" })">
                </e-grid-column>

                <e-grid-column field="Description"
                               headerText="Description"
                               width="300"
                               textAlign="Left"
                               customAttributes="@(new { @class = "align-left" })">
                </e-grid-column>

                <e-grid-column headerText="Actions"
                               width="120"
                               textAlign="Center"
                               commands="@(new List<object>
                                          {
                                            new { type = "None", buttonOption= new { content = "View", cssClass = "e-primary" }}
                                          })">
                </e-grid-column>
            </e-grid-columns>
        </ejs-grid>

        <ejs-button id="createButton" class="mt-3" isPrimary="true" content="Create a Project" onclick="createProject()"></ejs-button>
    }




    <ejs-button id="authGithubButton" class="mt-3" isPrimary="true" content="Connect to Github" onclick="connectGithub()"></ejs-button>

    <ejs-toast id="toast_default"></ejs-toast>

    
</div>



<div id="dialogTarget" >
    <ejs-dialog id="createProjectDialog" header="Create new Project"
                width="500px" visible="false" showCloseIcon="true" isModal="true"
                target="#dialogTarget">
        <e-content-template>
            <partial name="_CreateProjectDialog" model="new CreateProjectDto()"></partial>
        </e-content-template>
    </ejs-dialog>
</div>







<script>
    let flag = false;
    function actionComplete(e) {
        if (e.requestType === 'save' || e.requestType === 'delete') {
            flag = false;
        }
    }

    function actionBegin(e) {
        var grid = document.getElementById("ExistingProjectGrid").ej2_instances[0];

        if(!flag)
        {
            if (e.requestType === 'delete') {
            e.cancel = true; // Cancel default delete behavior

            const ids = e.data.map(row => row[grid.getPrimaryKeyFieldNames()[0]]);

            const ajax = new ej.base.Ajax({
                url: '@Url.Action("DeleteProject", "Home")',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function (xhr) {
                    ajax.httpRequest.setRequestHeader("XSRF-TOKEN", document.querySelector('input[name="__RequestVerificationToken"]').value);
                },
                data: JSON.stringify(ids)
            });

            ajax.onSuccess = function (data, status, xhr) {
                let response = {};
                try {
                    response = typeof data === "string" ? JSON.parse(data) : data;
                } catch (err) {
                    console.error("Parsing JSON gagal:", err);
                }

                if (response.success === false) {
                    // Gagal validasi atau gagal delete
                    flag = false;
                    ejs.notifications.ToastUtility.show(response.message || "Gagal memproses permintaan.", 'Error', 3000);
                } else {
                    // Sukses
                    flag = true;
                    ejs.notifications.ToastUtility.show('Data berhasil dihapus.', 'Success', 3000);
                    grid.dataSource = response.data;
                }
            };

            ajax.onFailure = function (xhr) {
                let message = "Terjadi kesalahan saat menyimpan.";
                flag = false
                try {
                    const errorResponse = JSON.parse(xhr.responseText);
                    if (errorResponse.message) {
                        message = errorResponse.message;
                    }
                } catch (err) {
                    console.warn("Gagal membaca pesan error:", err);
                }

                ejs.notifications.ToastUtility.show(message, 'Error', 3000);
            };


            ajax.send();
        }
        else if(e.requestType == 'save' && (e.action == 'edit')) {
            var editedData = e.data;
            e.cancel = true;

            const ajax = new ej.base.Ajax({
                url: '@Url.Action("UpdateProject", "Home")',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function (xhr) {
                    ajax.httpRequest.setRequestHeader("XSRF-TOKEN", document.querySelector('input[name="__RequestVerificationToken"]').value);
                },
                data: JSON.stringify({ value: editedData })
            });

            ajax.onSuccess = function (data, status, xhr) {
                let response = {};
                try {
                    response = typeof data === "string" ? JSON.parse(data) : data;
                } catch (err) {
                    console.error("Parsing JSON gagal:", err);
                }

                if (response.success === false) {
                    // Gagal validasi atau gagal delete
                    flag = false;
                    ejs.notifications.ToastUtility.show(response.message || "Gagal memproses permintaan.", 'Error', 3000);
                } else {
                    // Sukses
                    flag = true;
                    ejs.notifications.ToastUtility.show('Data berhasil diupdate', 'Success', 3000);

                    grid.endEdit();


                }
            };

            ajax.onFailure = function (xhr) {
                let message = "Terjadi kesalahan saat menyimpan.";
                flag = false;
                try {
                    const errorResponse = JSON.parse(xhr.responseText);
                    if (errorResponse.message) {
                        message = errorResponse.message;
                    }
                } catch (err) {
                    console.warn("Gagal membaca pesan error:", err);
                }

                ejs.notifications.ToastUtility.show(message, 'Error', 3000);
            };

            ajax.send();
        }
        }
        
    }

    function connectGithub(){
        window.location.href = '@Url.Action("Connect","GithubAuth")';
    }

    function createProject() {
        var dialog = document.getElementById("createProjectDialog").ej2_instances[0];
        dialog.show();
    }


    function onCommandClick(args) {
        const row = args.rowData;
        const projectId = row.Id;
        const projectName = row.Name;

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GoToWorkspace", "Workspace")',
            data: { projectId: projectId, projectName: projectName },
            success: function (response) {
                if (response.success && response.url) {
                    window.location.href = response.url;
                } else {
                    ejs.notifications.ToastUtility.show('Failed to open workspace.', 'Error', 3000);
                }
            },
            error: function () {
                ejs.notifications.ToastUtility.show('Error contacting server.', 'Error', 3000);
            }
        });
    }

    $('#createForm').on('submit', function (e) {
        e.preventDefault();

        var form = $(this);



        var formData = form.serialize();



        $.ajax({
            type: 'POST',
            url: form.attr('action'),
            data: formData,
            success: function (response, status, xhr) {
                if (response.success == false) {
                    // Gagal validasi, return PartialView ulang
                    $("#createForm").validate().showErrors();


                } else {
                    // Sukses, tutup dialog & reload halaman
                    ejs.notifications.ToastUtility.show('Your message has been sent successfully', 'Success', 20000);
                    var dialog = $('#createProjectDialog')[0].ej2_instances[0];
                    dialog.hide();
                    location.reload();
                }
            },
            error: function () {
                alert("Terjadi kesalahan saat menyimpan.");
            }
        });
    });
     
     

    
</script>
